body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container-fluid {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #8b0000;
  color: white;
  padding: 10px;
  text-align: center;
}

.btn-custom {
  background-color: #8b0000;
  color: white;
  width: 100px;
}

.btn-custom:hover {
  background-color: #892222;
  color: white;
}

.form-group {
  margin-bottom: 1.5rem;
}

.table {
  margin-top: 1.5rem;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 1.5rem;
}

.table thead th {
  background-color: #4c4a4a;
  color: white;
}

.table tbody tr.selected {
  background-color: #d4d4d4;
}

.context-menu {
  display: none;
  position: absolute;
  background-color: #641515;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.context-menu button {
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  text-align: left;
  color: white;
}

.context-menu button:hover {
  background-color: #872525;
}

.pagination .page-link {
  color: #8b0000; /* Color de los números de la paginación */
}

.pagination .page-item.active .page-link {
  background-color: #8b0000; /* Fondo del número activo */
  border-color: #8b0000; /* Borde del número activo */
  color: white; /* Color del número activo */
}

.pagination .page-item .page-link:hover {
  background-color: #892222; /* Fondo del número al pasar el ratón */
  border-color: #892222; /* Borde del número al pasar el ratón */
  color: white; /* Color del número al pasar el ratón */
}

.pagination .page-item .page-link {
  border: 1px solid #8b0000; /* Borde de los números de la paginación */
}
