/* App.css */
html,
body,
.App,
.container-fluid,
.row {
  height: 100%;
  margin: 0;
  padding: 0;
}

.sidebar-sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  padding-top: 20px;
  overflow-y: auto;
  background-color: #373c3d;
}

img {
  width: 120px;
  height: auto;
}

.sidebar .nav-link {
  color: white;
  text-decoration: none;
  margin: 5px 0;
  display: flex;
  align-items: center;
  padding: 5 0;
  border-bottom: 1px solid #5a5a5a;
}

.sidebar .nav-link:hover {
  color: #8d8b86;
}

.main-content {
  margin-left: 250px;
  /* same as sidebar width */
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

.header-logo {
  text-align: center;
  margin-bottom: 5px;
  padding: 10px;
  border-bottom: 1px solid #5a5a5a;
}
