body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100%;
    /* Asegura que el menú ocupe toda la altura de la pantalla */
    background-color: #373c3d;
    color: white;
    padding: 20px;
    flex-shrink: 0;
    width: 220px;
    display: flex;
    flex-direction: column;
}

.header-logo {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #5a5a5a;
}

.header-logo img {
    width: 100px;
    height: auto;
}

.header-logo p {
    margin: 0;
    font-size: 0.9em;
    font-weight: lighter;
}

.menu-items {
    flex-grow: 1;
}

.sidebar a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #5a5a5a;
}

.sidebar a:hover {
    color: #8d8b86;
}

.sidebar i {
    margin-right: 10px;
}

.menu-bottom {
    margin-top: auto;
    border-top: 1px solid #5a5a5a;
    padding-top: 10px;
}