body {
  background-color: #f4f4f4;
}
.header {
  background: #8b0000;
  color: white;
  padding: 10px 20px;
}
table {
  width: 100%;
  cursor: pointer;
}
thead {
  background-color: #8b0000;
  color: #fff;
}
tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}
tbody tr:nth-child(odd) {
  background-color: #fff;
}
.context-menu {
  position: absolute;
  background: #ffffff;
  border: 1px solid #ddd;
  z-index: 1000;
  padding: 5px;
  display: none;
}
.btn {
  background: #8b0000;
  color: #fff;
  border: none;
}
.btn:hover {
  background: #701c1c;
  color: #fff;
}
.week-display {
  text-align: center;
  margin-top: 10px;
  flex: 1;
}
.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.modal-header {
  background: #8b0000;
  color: #fff;
}
.modal-footer .btn-primary,
.modal-footer .btn-danger,
.modal-footer .btn-secondary {
  background: #8b0000;
  border: none;
}
.modal-footer .btn-primary:hover,
.modal-footer .btn-danger:hover,
.modal-footer .btn-secondary:hover {
  background: #701c1c;
}
.context-menu {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: none;
  z-index: 1000;
  width: 110px;
}
.context-menu .btn-link {
  text-align: left;
}

label[for="asunto"],
label[for="descripcion"],
#asunto,
#descripcion {
  margin-left: 10px; /* Ajusta este valor según sea necesario */
}

#asunto {
  width: 97%;
}

#descripcion {
  width: 97%;
}

.col-md-4.expand {
  flex: 3;
}

/* Reserva.css */
.no-horarios-message {
  background-color: rgb(218, 213, 213);
  color: rgb(43, 42, 42);
  border: gray; /* Opcional: hace que el texto sea negrita */
}
